<section class="section-1 section-bg awards">
    <div class="container">
        <div class="awards__content">
            <div class="awards__text">
                <div class="content__header">
                    <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                        Awards & recognition
                      <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon">
                    </div>
                    <h2 data-aos="fade-up" class="text__h2 content__title">
                        Our Laurels
                    </h2>
                </div>
                <div class="awards__inner">
                    <div data-aos="flip-up" data-aos-delay="100" class="awards__item">
                        <img src="img/awards/awards-icon.png" alt="" class="awards__icon">
                        <div class="awards__description">
                            <h5 class="text__h5 awards__description_title">
                                Bib Gourmond
                            </h5>
                            <p class="text__p awards__description_suptitle">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>
                    </div>
                    <div data-aos="flip-up" data-aos-delay="200" class="awards__item">
                        <img src="img/awards/awards-icon.png" alt="" class="awards__icon">
                        <div class="awards__description">
                            <h5 class="text__h5 awards__description_title">
                                Bib Gourmond
                            </h5>
                            <p class="text__p awards__description_suptitle">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>
                    </div>
                    <div data-aos="flip-up" data-aos-delay="300" class="awards__item">
                        <img src="img/awards/awards-icon.png" alt="" class="awards__icon">
                        <div class="awards__description">
                            <h5 class="text__h5 awards__description_title">
                                Bib Gourmond
                            </h5>
                            <p class="text__p awards__description_suptitle">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>
                    </div>
                    <div data-aos="flip-up" data-aos-delay="400" class="awards__item">
                        <img src="img/awards/awards-icon.png" alt="" class="awards__icon">
                        <div class="awards__description">
                            <h5 class="text__h5 awards__description_title">
                                Bib Gourmond
                            </h5>
                            <p class="text__p awards__description_suptitle">
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="100" class="awards__img">
                <div class="awards__img_container">
                    <img data-src="img/awards/awards.jpg" class="lazy" alt="A lazy image">
                </div>
                
            </div>
        </div>
    </div>
</section>