<section class="section-2 blogs">
    <div class="main__container decorate blogs__decorate">
        <div class="container__without_padding">
            <div class="content__header-centered">
                <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                    Blogs
                  <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon content__suptitle_icon-centered">
                </div>
                <h2 data-aos="fade-up" class="text__h2 content__title">
                    Gericht updates
                </h2>
            </div>
            <div class="blogs__content">
                <div data-aos="fade-down" data-aos-delay="100" class="blogs__item">
                    <div class="blogs__img">
                        <img data-src="img/blogs/blogs-img.jpg" class="lazy" alt="A lazy image">
                    </div>
                    <div class="blogs__text">
                        <div class="blogs__info">
                            <time datetime="2011-11" class="blogs__date">
                                16 Apr 2021
                            </time>
                            <div class="blogs__author">
                                - Annalisa L
                            </div>
                        </div>
                        <h4 class="text__h4 blogs__title">
                            <a href="">
                                tips for prepping and caring for your grill
                            </a>
                        </h4>
                        <p class="text__p blogs__description">
                            Lorem ipsum dolor sit amet, consectetur
                             adipiscing elit. Volutpat mattis ipsum 
                             turpis elit elit scelerisque egestas mus in.
                        </p>
                        <a href="" class="blogs__link">Read more</a>
                    </div>
                </div>
                <div data-aos="fade-down" data-aos-delay="200" class="blogs__item">
                    <div class="blogs__img">
                        <img data-src="img/blogs/blogs-img.jpg"class="lazy" alt="A lazy image">
                    </div>
                    <div class="blogs__text">
                        <div class="blogs__info">
                            <time datetime="2011-11" class="blogs__date">
                                16 Apr 2021
                            </time>
                            <div class="blogs__author">
                                - Annalisa L
                            </div>
                        </div>
                        <h4 class="text__h4 blogs__title">
                            <a href="">
                                tips for prepping and caring for your grill
                            </a>
                        </h4>
                        <p class="text__p blogs__description">
                            Lorem ipsum dolor sit amet, consectetur
                             adipiscing elit. Volutpat mattis ipsum 
                             turpis elit elit scelerisque egestas mus in.
                        </p>
                        <a href="" class="blogs__link">Read more</a>
                    </div>
                </div>
                <div data-aos="fade-down" data-aos-delay="300" class="blogs__item">
                    <div class="blogs__img">
                        <img data-src="img/blogs/blogs-img.jpg" class="lazy" alt="A lazy image">
                    </div>
                    <div class="blogs__text">
                        <div class="blogs__info">
                            <time datetime="2011-11" class="blogs__date">
                                16 Apr 2021
                            </time>
                            <div class="blogs__author">
                                - Annalisa L
                            </div>
                        </div>
                        <h4 class="text__h4 blogs__title">
                            <a href="">
                                tips for prepping and caring for your grill
                            </a>
                        </h4>
                        <p class="text__p blogs__description">
                            Lorem ipsum dolor sit amet, consectetur
                             adipiscing elit. Volutpat mattis ipsum 
                             turpis elit elit scelerisque egestas mus in.
                        </p>
                        <a href="" class="blogs__link">Read more</a>
                    </div>
                </div>
            </div>
            <a data-aos="zoom-in" href="blog.html" class="btn btn-center">View more</a>
        </div>
    </div>
</section>