<section class="section-1 gallery section-bg">
    <div class="container">
        <div class="gallery__content">
            <div class="gallery-content__text">
                <div data-aos="fade-up" data-aos-delay="100" class="content__header ">
                    <div class="text__h5 content__suptitle">
                      Instagram
                      <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon gallery__suptitle_icon">
                    </div>
                    <h2 data-aos="fade-up" class="text__h2 content__title">
                      Photo Gallery
                    </h2>
                </div>
                <p data-aos="fade-left" data-aos-delay="200" class="text__p content__text">
                    Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. 
                    Volutpat mattis ipsum turpis elit 
                    elit scelerisque egestas mu.
                </p>
                <a data-aos="fade-left" data-aos-delay="300" href="comingSoon.html" class="btn">View more</a>
            </div>
            <div class="gallery-content__slider">
                <div class="gallery__slider swiper">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide gallery__slide">
                            <img loading="lazy" src="img/gallery/gallary-img.jpg" alt="Photo" class="gallery-slide__img">
                            <div class="swiper-lazy-preloader"></div>
                        </a>
                        <a href="#" class="swiper-slide gallery__slide">
                            <img loading="lazy" src="img/gallery/gallary-img-1.png" alt="Photo" class="gallery-slide__img">
                            <div class="swiper-lazy-preloader"></div>
                        </a>
                        <a href="#" class="swiper-slide gallery__slide">
                            <img loading="lazy" src="img/gallery/gallary-img.jpg" alt="Photo" class="gallery-slide__img">
                            <div class="swiper-lazy-preloader"></div>
                        </a>
                        <a href="#" class="swiper-slide gallery__slide">
                            <img loading="lazy" src="img/gallery/gallary-img-1.png" alt="Photo" class="gallery-slide__img">
                            <div class="swiper-lazy-preloader"></div>
                        </a>
                        <a href="#" class="swiper-slide gallery__slide">
                            <img loading="lazy" src="img/gallery/gallary-img.jpg" alt="Photo" class="gallery-slide__img">
                            <div class="swiper-lazy-preloader"></div>
                        </a>
                        <a href="#" class="swiper-slide gallery__slide">
                            <img loading="lazy" src="img/gallery/gallary-img-1.png" alt="Photo" class="gallery-slide__img">
                            <div class="swiper-lazy-preloader"></div>
                        </a>
                        
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>