<div data-bg="img/menu-bg.jpg" class="menu lazy">
     <div class="main__container decorate menu__decorate">
        <ul class="menu__list">
            <li data-aos="flip-up"  class="menu__list_item">
                <a href="#" class="text__h2">Bar menu</a>
            </li>
            <li data-aos="flip-up" data-aos-delay="200" class="menu__list_item">
                <a href="#" class="text__h2">Food menu</a>
            </li>
            <li data-aos="flip-up" data-aos-delay="400" class="menu__list_item">
                <a href="#" class="text__h2">Desserts menu</a>
            </li>
        </ul>
     </div>
</div>