<section id="reservation" class="reservation section-2">
    <div class="main__container decorate reservation__decorate">
        <div class="container__without_padding">
            <div class="reservation__content">
                <div class="content__header-centered">
                    <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                      Reservations
                      <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon content__suptitle_icon-centered">
                    </div>
                    <h2 data-aos="fade-up"  class="text__h2 content__title">
                      Book a table
                    </h2>
                </div>
                <form action="#" id="reservation" class="reservation__form">
                    <div class="reservation__form_container">
                        
                        <div data-aos="fade-right" data-aos-delay="100" data-aos-once="true" class="reservation__line">
                            <select id="select-person" name="person"  class="reservation__select reservation__select_item">
                                <option data-dispaly="select">1 Person</option>
                                <option value="1">2 Person</option>
                                <option value="2">3 Person</option>
                                <option value="3">4 Person</option>
                            </select>
                        </div>
                        
                        <div data-aos="fade-right" data-aos-delay="300" data-aos-once="true" class="reservation__line">
                            <input id="input-date" autocomplete="off" placeholder="12/05/2022" type="text" class="reservation__input">
                        </div>

                            
                        <div data-aos="fade-right" data-aos-delay="500" data-aos-once="true" class="reservation__line">
                            <select id="select-time" name="time" class="reservation__select reservation__select_item">
                                <option value="1">09:00 AM</option>
                                <option value="2">10:00 AM</option>
                                <option value="3">11:00 AM</option>
                                <option value="4">12:00 AM</option>
                            </select>
                        </div>
                        
                    </div>
                    
                    <button data-aos="zoom-in" data-aos-delay="300" data-aos-once="true" type="submit" class="btn btn-center">Explore more</button>
                </form>
            </div>
            
            
        </div>
    </div>
</section>