<section class="section-1 shefs__word bg">
    <div class="container">
        <div class="shefs__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="shefs__content">
                        <div data-aos="flip-right" data-aos-delay="100" class="shefs__content_img">
                            <img loading="lazy" src="img/shefs/shefs-img.jpg" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="shefs__content_text">
                            <div class="content__header shefs__content_header">
                                <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                                  Chef's word
                                  <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon">
                                </div>
                                <h2 data-aos="fade-up" class="text__h2 content__title">
                                  What we belive in
                                </h2>
                            </div>
                            <p data-aos="fade-up" data-aos-delay="300" class="text__p shefs__content_description">
                                <img src="img/icons/icons.svg#Quotes" alt="" class="text__quotes">
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit auctor sit .
                                auctor sit iaculis in arcu. 
                                Vulputate nulla lobortis mauris 
                                eget sit. Nulla scelerisque 
                                scelerisque congue ac consequat, 
                                aliquam molestie lectus eu. Congue 
                                iaculis integer curabitur semper 
                                sit nunc.
                            </p>
                            <div class="content__author">
                                <div data-aos="fade-left" data-aos-delay="300" class="text__h4 content__author_name">
                                    Kevin Luo
                                </div>
                                <div data-aos="fade-left" data-aos-delay="400" class="text__p content__author_pos">
                                    Chef & Founder
                                </div>
                            </div>
                            <img src="img/icons/icons.svg#Kevin-Luo" alt="" class="shefs__signature">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="shefs__content">
                        <div data-aos="flip-right" data-aos-delay="100" class="shefs__content_img">
                            <img loading="lazy" src="img/shefs/shefs-img.jpg" alt="Image">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="shefs__content_text">
                            <div class="content__header shefs__content_header">
                                <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                                  Chef's word
                                  <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon">
                                </div>
                                <h2 data-aos="fade-up" class="text__h2 content__title">
                                  What we belive in
                                </h2>
                            </div>
                            <p data-aos="fade-up" data-aos-delay="300" class="text__p shefs__content_description">
                                <img src="img/icons/icons.svg#Quotes" alt="" class="text__quotes">
                                Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit auctor sit .
                                auctor sit iaculis in arcu. 
                                Vulputate nulla lobortis mauris 
                                eget sit. Nulla scelerisque 
                                scelerisque congue ac consequat, 
                                aliquam molestie lectus eu. Congue 
                                iaculis integer curabitur semper 
                                sit nunc.
                            </p>
                            <div class="content__author">
                                <div class="text__h4 content__author_name">
                                    Ptrick Choi
                                </div>
                                <div class="text__p content__author_pos">
                                    Chef & Founder
                                </div>
                            </div>
                            <img src="img/icons/icons.svg#Kevin-Luo" alt="" class="shefs__signature">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>