<section class="section-2">
    <div class="container">
        <div class="content__header-centered">
            <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                Menu that fits you palatte
              <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon content__suptitle_icon-centered">
            </div>
            <h2 data-aos="fade-up" class="text__h2 content__title">
              Today's special
            </h2>
        </div>

        <div  class="special__content">
            <div data-aos="flip-left" class="special__content_column">
                <h3 class="text__h3 special__column_title">Wine & Beer</h3>
                <ul class="special__column_list">
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Chapel Hill Shiraz</h5>
                            <div class="special__item_cost">$56</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <img data-src="img/special.jpg" alt="A lazy image" class="lazy special__column_img">
            <div data-aos="flip-right" class="special__content_column">
                <h3 class="text__h3 special__column_title">Wine & Beer</h3>
                <ul class="special__column_list">
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Chapel Hill Shiraz</h5>
                            <div class="special__item_cost">$56</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                    <li class="special__column_item">
                        <div class="special__item_head">
                            <h5 class="special__item_name">Catena Malbec</h5>
                            <div class="special__item_cost">$59</div>
                        </div>
                        <ul class="special__item_description">
                            <li class="special__description_title">AU</li>
                            <li class="special__description_title">Bottle</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a data-aos="zoom-in" href="eror.html" class="btn btn-center">View more</a>
    </div>
</section>