<section class="section-2 testimony">
    <div class="main__container decorate testimoy__decorate">
        <div class="container__without_pading">
            <div class="content__header-centered">
                <div data-aos="fade-up" data-aos-delay="100" class="text__h5 content__suptitle">
                    Testimony
                  <img src="img/icons/icons.svg#Spoon" alt="Spoon" class="content__suptitle_icon content__suptitle_icon-centered">
                </div>
                <h2 data-aos="fade-up" class="text__h2 content__title">
                  Happy castomers
                </h2>
            </div>
            <div class="testimony__content">
                <div data-aos="zoom-in-left" data-aos-delay="100" class="testimony__item">
                    <div class="testimony__img">
                        <img src="img/testimony/testimony-img.jpg" alt="">
                        <img src="img/icons/icons.svg#Quotes" alt="" class="img__quotes">
                    </div>
                    
                    <div class="testimony__description">
                        <p class="text__p testimony__phrase">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing sit. 
                            auctor sit iaculis in arcu. 
                            Vulputate nulla lobortis mauris 
                            eget sit. Nulla scelerisque 
                            scelerisque congue.
                        </p>
                        <div class="content__author testimony__author">
                            <div class="text__h4 content__author_name">
                                Wade Warren
                            </div>
                            <div class="text__p content__author_pos">
                                Sommeller
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in-left" data-aos-delay="200" class="testimony__item">
                    <div class="testimony__img">
                        <img src="img/testimony/testimony-img.jpg" alt="">
                        <img src="img/icons/icons.svg#Quotes" alt="" class="img__quotes">
                    </div>
                    
                    <div class="testimony__description">
                        <p class="text__p testimony__phrase">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing sit. 
                            auctor sit iaculis in arcu. 
                            Vulputate nulla lobortis mauris 
                            eget sit. Nulla scelerisque 
                            scelerisque congue.
                        </p>
                        <div class="content__author testimony__author">
                            <div class="text__h4 content__author_name">
                                Wade Warren
                            </div>
                            <div class="text__p content__author_pos">
                                Sommeller
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in-left" data-aos-delay="300" class="testimony__item">
                    <div class="testimony__img">
                        <img src="img/testimony/testimony-img.jpg" alt="">
                        <img src="img/icons/icons.svg#Quotes" alt="" class="img__quotes">
                    </div>
                    
                    <div class="testimony__description">
                        <p class="text__p testimony__phrase">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing sit. 
                            auctor sit iaculis in arcu. 
                            Vulputate nulla lobortis mauris 
                            eget sit. Nulla scelerisque 
                            scelerisque congue.
                        </p>
                        <div class="content__author testimony__author">
                            <div class="text__h4 content__author_name">
                                Wade Warren
                            </div>
                            <div class="text__p content__author_pos">
                                Sommeller
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in-left" data-aos-delay="400" class="testimony__item">
                    <div class="testimony__img">
                        <img src="img/testimony/testimony-img.jpg" alt="">
                        <img src="img/icons/icons.svg#Quotes" alt="" class="img__quotes">
                    </div>
                    
                    <div class="testimony__description">
                        <p class="text__p testimony__phrase">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipiscing sit. 
                            auctor sit iaculis in arcu. 
                            Vulputate nulla lobortis mauris 
                            eget sit. Nulla scelerisque 
                            scelerisque congue.
                        </p>
                        <div class="content__author testimony__author">
                            <div class="text__h4 content__author_name">
                                Wade Warren
                            </div>
                            <div class="text__p content__author_pos">
                                Sommeller
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>