.chefs__content {
    display: flex;
    column-gap: 32px;
    row-gap: 64px;
    flex-wrap: wrap;
    justify-content: center;
}
.chefs__item {
    flex: 0 1 31%;
    @media (max-width: 991px) {
        flex: 0 1 48%;
    }
    @media (max-width: 768px) {
        flex: 0 1 75%;
    }
    @media (max-width: 551px) {
        flex: 0 1 100%;
    }
    &:first-child .chefs-item__title {
        color: $firstColor;
    }
}
.chefs-item__container {
    width: 100%;
    margin-bottom: 32px;
    border: 1px solid $firstColor;
    height: auto;
    max-height: 520px;
    overflow: hidden;
    position: relative;
    transition: all .2s linear;
    &:hover::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba($color: #000000, $alpha: .4);
    }
    &:hover .chefs-item__social,
    &:hover .chefs-item__more {
        opacity: 1;
    }
}
.chefs-item__social {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 90px;
    display: flex;
    gap: 16px;
    align-items: center;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all .2s linear;
}
.social__media {
    display: inline-block;
    width: 24px;
    height: 24px;
    object-fit: cover;
    transition: all .2s linear;
    
    &:hover {
        stroke: $firstColor;
        fill: $firstColor;
    }
}
.chefs-item__more {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-align: center;
    left: 50%;
    bottom: 48px;
    transform: translate(-50%, 0);
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: rem(16);
    line-height: 175%;
    opacity: 0;
    transition: all .2s linear;
    &:hover {
        color: $firstColor;
    }
}
.shefs-item__img {
    width: 100%;
    height: auto;
}
.chefs-item__title {
    margin-bottom: 8px;
}
.chefs__decorate {
    &::before {
        top: auto;
        bottom: -150px;
    }
    &::after {
        position: absolute;
        content: "";
        background: url(../img/icons/icons.svg#Badge);
        width: 146px;
        height: 150px;
        background-size: cover;
        top: 35%;
        right: 0;
        animation: rotateBadge 15s linear infinite;
        @media (max-width: 1380px) {
            display: none;
        }
    }
}
// Chefs detail
.chefs-detail__img {
    width: 50%;
    @media (max-width: 1280px) {
        width: 85%;
        margin: 0 auto;
    }
    @media (max-width: 991px) {
        width: 100%;
    }
}
.chefs-img__container {
    width: 100%;
    height: auto;
    border: 1px solid $firstColor;
    & img {
        width: 100%;
    }
}
.aboutChef__content {
    display: flex;
    gap: 32px;
    @media (max-width: 991px){
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
    }
}
.aboutChef__left {
    width: 50%;
    @media (max-width: 991px){
        width: 75%;
        order: 2;
    }
    @media (max-width: 768px){
        width: 100%;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.aboutChef__right {
    overflow: hidden;
    width: 50%;
    @media (max-width: 991px){
        width: 75%;
        order: 1;
    }
    @media (max-width: 768px){
        width: 100%;
    }
}
.aboutChef__description {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: rem(16);
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #AAAAAA;
    margin-bottom: 48px;
}
.aboutChef-pointer__list {
    margin-bottom: 48px;
}
.aboutChef-list__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 24px;
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 1px;
        background-color: $firstColor;
    }
}
.aboutChefs__decorate::before {
    top: auto;
    right: 0;
    left: auto;
    bottom: -60px;
}
.no-center {
    margin: 8px 0 0 !important;
}

